/*Fonctionnement Liste choix*/
.fonctionnement {
    margin-bottom: 60px;
}

.titrePresentation {
    width: 90%;
    margin-top: 50px;
}

.bouttonFonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listChoix {
    height: 80px;
    background-color: $grisFond;
    display: flex;
    margin: 15px 0;
    width: 90%;
    border-radius: 20px;
    align-items: center;
    transition: all 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 30px -12px, rgba(0, 0, 0, 0.3) 0px 15px 6px -18px;
}

.listChoix:hover {
    background-color: #d2bee9;
}

.listChoix:hover > .inputSymbol {
    color: $violetSite;
}

.rond {
    background-color: $violetSite;
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 30px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -15px;
}

.description {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.inputSymbol {
    font-size: 25px;
    padding: 0 20px;
}



/*Responsive*/

@media (min-width: 998px) {
.bouttonFonctionnement {
        flex-direction: row;
        width: 90%;
}

.listChoix {
    margin: 0 2%;
}
}
    