/*Header*/

.reservationBox {
    background-color: $grisFond;


    &__geoLocalisation {
        background-color: #e4e4e4;
        color: $grisProfond;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 4px 0px inset;
        @include flexCenter();
    }

    &__title {
        width: 70%;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-top: 40px;
        @include flexCenter();
    }

    &__describe {
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        width: 80%;
    }
}

.reservationBox__geoLocalisation>p {
    padding-left: 20px;
    font-size: 20px;
    color: $grisProfond;
    font-weight: bold;
}

/*Bouton explorer nos restaurants*/

.exploreButton {
    height: 55px;
    padding: 20px 30px;
    @include flexCenter();
    background: linear-gradient(0deg, $primary-color, $secondary-color 100%);
    border-radius: 30px;
    border: none;
    color: white;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 10px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    font-size: 18px;
    cursor: pointer;
    transition: 500ms;
}

.exploreButton:hover {
    @include button-hover();

}