/*Les restaurants*/
.restaurants {
    width: 100%;
    padding-bottom: 60px;
    background-color: $grisFond;
}

.titreRestaurants {
    padding-top: 45px;
    margin: 5px 0;
    width: 90%;

}

.restaurantsGallerie {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgResto {
    object-fit: cover;
    height: 220px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    border-radius: 20px 20px 0 0;
}

.cadreResto {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px 0 ;
    text-decoration: none;
}

.imgNouveauBloc{
    width: 90%;
    position: relative;
}

.nouveauResto {
    position: absolute;
    background-color: $vertSite;
    padding: 7px 15px;
    right: 2%;
    border-radius: 3px;
    border: solid 1px black;
    color: #485846;
}

.legendResto {
    display: flex;
    width: 90%;
    font-size: 20px;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 20px 20px;
    color: black;
}

.textResto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 22px;
}

.coeur {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    color: #f2f2f2;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-right: 5%;
    cursor: pointer;
    transition: all 500ms;
}

.coeur:hover {
    background: linear-gradient(0deg, $roseSite, $violetSite 100%);
    color: transparent;
    background-clip: text;
    text-shadow: none;
}


/*Responsive*/

@media (min-width: 998px) {

.restaurantsGallerie {
    width: 100%;
    flex-direction: row;
    
}
.cadre12 {
    width: 50%;
}
}