@charset "UTF-8";
body {
  margin: 0;
}

* {
  font-family: "roboto";
}

.grisfond {
  background-color: #f2f2f2;
}

.grisProfondFond {
  background-color: #d1d1d1;
}

.policeGris {
  color: #363636;
  font-weight: bold;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marginzero {
  margin: 2px;
}

.marginRight {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.sameLine {
  display: flex;
  align-items: center;
  margin: 15px 0;
  max-height: 20px;
}

/*Logo*/
.bannière {
  width: 100%;
}

.logo {
  width: 40%;
}

/*Header*/
.localisation {
  margin-right: 20px;
}

.titre {
  width: 70%;
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
}

.decription {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.exploreButton {
  height: 50px;
  padding: 10px 20px;
  background: linear-gradient(0deg, #9356dc, #ff79da 100%);
  border-radius: 30px;
  border: none;
  color: white;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  font-size: 15px;
}

/*Fonctionnement Liste choix*/
.fonctionnement {
  margin-bottom: 60px;
}

.titrePresentation {
  display: flex;
  width: 90%;
  padding-top: 40px;
  font-size: 30px;
  margin: 10px;
}

.listChoix {
  background-color: #c4c4c4;
  display: flex;
  padding: 30px 0;
  margin: 15px 0;
  width: 90%;
  border-radius: 20px;
  align-items: center;
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.rond {
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: -15px;
}

.description {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}

.inputSymbol {
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 25px;
}

/*Les restaurants*/
.restaurants {
  width: 100%;
  padding-bottom: 60px;
}

.imgResto {
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  border-radius: 20px 20px 0 0;
}

.cadreResto {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 20px 0;
}

.imgNouveauBloc {
  width: 90%;
  position: relative;
}

.nouveauResto {
  position: absolute;
  background-color: #56ffcf;
  padding: 7px 15px;
  right: 2%;
  border-radius: 3px;
  border: solid 1px black;
  color: #485846;
}

.legendResto {
  display: flex;
  width: 90%;
  font-size: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.textResto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 22px;
}

.coeur {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  color: #f2f2f2;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-right: 5%;
}

/*Footer*/
footer {
  background-color: #474747;
  color: white;
  padding: 10px;
}

.ohMyFoodFooter {
  font-family: "Shrikhand";
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */