@charset "UTF-8";
/*Classe Globale*/
body {
  margin: 0;
}

* {
  font-family: "roboto", sans-serif;
}

.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marginzero {
  margin: 2px;
}

.marginCinq {
  margin: 5px 0;
}

.marginRight10 {
  margin-right: 10px;
}

.marginRight5 {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

footer > div > a {
  text-decoration: none;
  color: white;
}

/*Logo*/
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40%;
  margin: 10px 0;
  max-width: 220px;
}

/*Footer*/
footer {
  background-color: #474747;
  color: white;
  padding: 10px;
}

.ohMyFoodFooter {
  font-family: "Shrikhand";
  font-size: 20px;
  padding-left: 20px;
}

.sameLine {
  display: flex;
  align-items: center;
  margin: 5px 0;
  max-height: 20px;
}

.texteFooter {
  padding-bottom: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*Responsive*/
@media (min-width: 998px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texteFooter {
    align-items: center;
  }
}
/*Apparition des cartes menus*/
.anim1 {
  -webkit-animation: swing-in-bottom-fwd 400ms;
          animation: swing-in-bottom-fwd 400ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim2 {
  -webkit-animation: swing-in-bottom-fwd 800ms;
          animation: swing-in-bottom-fwd 800ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim3 {
  -webkit-animation: swing-in-bottom-fwd 1200ms;
          animation: swing-in-bottom-fwd 1200ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim4 {
  -webkit-animation: swing-in-bottom-fwd 1600ms;
          animation: swing-in-bottom-fwd 1600ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim5 {
  -webkit-animation: swing-in-bottom-fwd 2000ms;
          animation: swing-in-bottom-fwd 2000ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim6 {
  -webkit-animation: swing-in-bottom-fwd 2400ms;
          animation: swing-in-bottom-fwd 2400ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim7 {
  -webkit-animation: swing-in-bottom-fwd 2800ms;
          animation: swing-in-bottom-fwd 2800ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim8 {
  -webkit-animation: swing-in-bottom-fwd 3200ms;
          animation: swing-in-bottom-fwd 3200ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim9 {
  -webkit-animation: swing-in-bottom-fwd 3600ms;
          animation: swing-in-bottom-fwd 3600ms;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
/*Header de la carte des restaurants*/
.backLogo {
  display: flex;
  align-items: center;
}

.back {
  font-size: 20px;
  margin-left: 5%;
  position: absolute;
  align-items: center;
  color: #1C2833;
}

.imgPresentationBox {
  position: relative;
  width: 100%;
}

.imgPresentation {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.textPresentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 90%;
  border-radius: 50px 50px 0 0;
  padding: 0px 5%;
  bottom: 50px;
  position: relative;
}

.titreResto {
  font-family: "Shrikhand";
  font-size: 30px;
}

/*Coeur + son animation*/
.coeur {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  color: #f2f2f2;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-right: 5%;
  cursor: pointer;
  transition: all 400ms;
}

.coeur:hover {
  background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: none;
}

@media (min-width: 998px) {
  .imgPresentation {
    height: 450px;
  }
}
body {
  background-color: #f2f2f2;
}

/*Card Box*/
.menuCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*titre et soulignement*/
.menuCard-title {
  text-transform: uppercase;
  width: 80%;
}

.menuCard-title-underline {
  display: flex;
  height: 20px;
  border-top: solid #99E2D0 4px;
  width: 50px;
}

/*triple card box*/
.menuCard-tripleCards {
  width: 90%;
}

/*Card unitaire*/
.menuCard-cardUnitaire {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 30px -12px, rgba(0, 0, 0, 0.3) 0px 15px 6px -18px;
  margin-bottom: 25px;
  /*Pour caché le Check*/
  overflow: hidden;
  cursor: pointer;
}

/*Animation du checkIcon*/
.menuCard-cardUnitaire:hover .cardUnitaire__checkIcon {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.menuCard-cardUnitaire:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

/*Texte des cartes*/
.cardUnitaire__description {
  width: 100%;
  overflow: hidden;
  display: flex;
  max-width: 100%;
}

.cardUnitaire__description > .description__text > * {
  margin: 1rem;
}

.cardUnitaire__description > .description__price {
  font-weight: bold;
}

.description__text {
  width: 100%;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
}

.description__text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.description__price {
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

/*Le check*/
.cardUnitaire__checkIcon {
  width: 7rem;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition: 0.5s ease;
}

.cardUnitaire__checkIcon > i {
  color: #99E2D0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}

/*Bouton Commander*/
.exploreButton {
  height: 50px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #9356DC, #FF79DA 100%);
  border-radius: 30px;
  border: none;
  color: white;
  margin-bottom: 70px;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  font-size: 15px;
  cursor: pointer;
}

.exploreButton:hover {
  background: linear-gradient(0deg, #ae80e5 0%, #fface8 100%);
}

/*Responsive*/
@media (min-width: 998px) {
  .menuCard-tripleCards {
    display: flex;
    margin-bottom: 20px;
  }
  .menuCard-title {
    width: 88%;
  }
  .menuCard-cardUnitaire {
    margin: 1%;
  }
}/*# sourceMappingURL=styleResto.css.map */