//Couleur du site

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grisProfond: #1C2833;
$grisFond: #f2f2f2;

//Mixin

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Mixin explore button hover 

@mixin button-hover {
    background: linear-gradient(0deg,
            lighten($primary-color, 10%) 0%,
            lighten($secondary-color, 10%) 100%);
    transition: 200ms;
    box-shadow: 0px 17px 13px -7px #8a8a8a, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}